mat-slide-toggle{
    span{
        color: white;
    }
}
h1{
    color: white;
}
.dialog{
    background-color: #343232;
}
.close{
    background-color: #bd83ff;
    color: #414141;
    margin-left: 5px;
}
.edit{
    background-color: #414141;
    color: white;
}